.choice-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  height: 295px;
  margin-top: 30px;
  border-radius: 93px;
  padding: 35px 45px;
}

.choice-block h2 {
  font-size: 3rem;
  font-weight: 300;
}

.choice-btns {
  display: flex;
  gap: 25px;
  margin-top: 45px;
}

.choice-btn {
  width: 170px;
  height: 100px;
  border-radius: 93px;
}

.choice-btn.clicked {
  box-shadow: -5px -5px 4px transparent, 5px 5px 10px transparent, inset -5px -5px 4px var(--color-light-shadow), inset 5px 5px 10px var(--color-dark-shadow);
}